@model Movie
<div class="="card shadow border-0 mt-4>
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="py-2">Delete Genre</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" asp-action="Delete">
            <input asp-for="@Model.Id" hidden/>
            <div class="container-fluid">
                <table class="table table-info">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(m => m.Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(m => m.ReleaseDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(m => m.Price)
                            </th>
                            <th>
                                @Html.DisplayNameFor(m => m.Price5)
                            </th>
                            <th>
                                @Html.DisplayNameFor(m => m.Price10)
                            </th>
                            <th>
                                @Html.DisplayNameFor(m => m.Director)
                            </th>
                            <th>
                                @Html.DisplayNameFor(m => m.Writers)
                            </th>
                            <th>
                                @Html.DisplayNameFor(m => m.Actors)
                            </th>
                            <th>
                                @Html.DisplayNameFor(m => m.Summary)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Model.Title
                            </td>
                            <td>
                                @Model.ReleaseDate
                            </td>
                            <td>
                                @Model.Price
                            </td>
                            <td>
                                @Model.Price5
                            </td>
                            <td>
                                @Model.Price10
                            </td>
                            <td>
                                @Model.Director
                            </td>
                            <td>
                                <ul class="list-group list-unstyled">
                                    @foreach(var writer in Model.Writers)
                                    {
                                        <li class="list-group-item-info">
                                            <a asp-controller="Person" asp-action="Get" asp-route-id=@writer.Id>@writer.Name</a>
                                        </li>
                                    }
                                </ul>
                            </td>
                            <td>
                                <ul class="list-group list-unstyled">
                                    @foreach (var actor in Model.Actors)
                                    {
                                        <li class="list-group-item-info">
                                            <a asp-controller="Person" asp-action="Get" asp-route-id=@actor.Id>@actor.Name</a>
                                        </li>
                                    }
                                </ul>
                            </td>
                            <td>
                                <p class="card-info">
                                    @Model.Summary
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-6">
                        <button type="submit" class="btn btn-primary form-control">Delete</button>
                    </div>
                    <div class="col-6">
                        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary border-1 form-control">
                        Back to Movies
                    </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

