@model MovieViewModel
@{
    var people = ViewData["People"] as List<Person>;
    var categories = ViewData["Categories"] as List<Category>;
}
<div class="="card shadow border-0 mt-4>
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="py-2">Edit Movie</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" asp-action="Update">
            <div class="row pb-2">
                <hr />
                <div asp-validation-summary="ModelOnly"></div>
            </div>
            
            <input type="hidden" asp-for="Id" value="@Model.Id" type="text" class="form-control"/>

            <div class="mb-3 row p-1">
                <label asp-for="Title" class="p-0"></label>
                <input asp-for="Title" type="text" class="form-control"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="mb-3 row p-1">
                <label asp-for="ReleaseDate" class="p-0"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="mb-3 row p-1">
                <label asp-for="Summary" class="p-0"></label>
                <input asp-for="Summary" class="form-control" />
                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>
            <div class="mb-3 row p-1">
                <label asp-for="Price" class="p-0"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="mb-3 row p-1">
                <label asp-for="Price5" class="p-0"></label>
                <input asp-for="Price5" class="form-control" />
                <span asp-validation-for="Price5" class="text-danger"></span>
            </div>
            <div class="mb-3 row p-1">
                <label asp-for="Price10" class="p-0"></label>
                <input asp-for="Price10" class="form-control" />
                <span asp-validation-for="Price10" class="text-danger"></span>
            </div>
            <div class="mb-3 row p-1">
                <label asp-for="CategoryId" class="p-0"></label>
                <select asp-for="CategoryId" class="form-control">
                    @foreach (Category category in categories)
                    {
                        <option value=@category.Id>@category.Id - @category.Name</option>
                    }
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="mb-3 row p-1">
                <label asp-for="DirectorId" class="p-0"></label>
                <select asp-for="DirectorId" class="form-control">
                    @foreach(Person person in people)
                    {
                        <option value=@person.Id>@person.Id - @person.Name</option>
                    }
                </select>
                <span asp-validation-for="DirectorId" class="text-danger"></span>
            </div>
            <div class="mb-3 row p-1">
                <h3>Writers</h3>
                @for (int i=0; i < people.Count; i++)
                {
                    <label asp-for="Writers[i].Person">@people[i].Name</label>
                    <input type="checkbox" asp-for="@Model.Writers[i].isChecked" />
                    <span asp-validation-for="@Model.Writers[i].isChecked"></span>
                    <input type="hidden" asp-for="@Model.Writers[i].Person.Name" value=@people[i].Name/>
                    <input type="hidden" asp-for="@Model.Writers[i].Person.Background" value=@people[i].Background/>

                }
            </div>
            <div class="mb-3 row p-1">
                <h3>Actors</h3>
                @for (var i = 0; i < people.Count; i++)
                {
                    <label asp-for="Actors[i].Person">@people[i].Name</label>
                    <input type="checkbox" asp-for="@Model.Actors[i].isChecked" />
                    <span asp-validation-for="@Model.Actors[i].isChecked"></span>
                    <input type="hidden" asp-for="@Model.Actors[i].Person.Name" value=@people[i].Name/>
                    <input type="hidden" asp-for="@Model.Actors[i].Person.Background" value=@people[i].Background/>
                }
            </div>
            <div class="row">
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-primary form-control">Update</button>
                </div>
                <div class="col-6 col-md-3">
                    <a asp-controller="Movie" asp-action="Index" class="btn btn-secondary border-1 form-control">
                        Back to Movies
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts 
{
    <partial name="_ValidationScriptsPartial"/>
}